body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
button {
  display: block;
  margin-top: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.form {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.sewa {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;

}

.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--input:focus {
  border: 1px solid #639;
  outline: none;
}

.form--marketing {
  display: flex;
  margin-bottom: 1.25em;
  align-items: center;
}

.form--marketing>input {
  margin-right: 0.625em;
}

.form--marketing>label {
  color: grey;
}

.checkbox,
input[type="checkbox"] {
  accent-color: #639;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: 1px dashed #639;
  cursor: pointer;
}

.form--submit:hover {
  color: #639;
  background-color: white;
  border: 1px dashed #639;
  cursor: pointer;
  transition: 0.5s;
}

.form label {
  display: block;
  width: 100%;
  /* Lebar label mengambil seluruh lebar container form */
  text-align: left;
  /* Arahkan teks label ke kiri */
  margin-bottom: 0.5em;
  /* Jarak antara setiap label */
}


.nav-pills {
  display: flex;
  justify-content: center;
  padding: 3em 0;


}

.nav-item {
  margin-right: 10px;
}


.jadwal {
  color: rgb(157, 34, 34);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}

.container {
  margin-top: 50px;
}

.fixed-top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  /* Mengubah tinggi navigasi */
  padding: 10px 20px;
  /* Mengubah padding dalam navigasi */
}

.fixed-top-nav .nav-link {
  font-size: 1.25rem;
  /* Mengubah ukuran teks navigasi */
}

body {
  padding-top: 80px;
  /* Memberikan padding yang sesuai untuk menyesuaikan dengan tinggi navigasi */
}


footer {
  padding-top: 1px;
}